body {
  background-image: url("https://wallpaperaccess.com/full/2055140.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.car {
  background-color: aqua;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.off {
  padding: 20px;

  border-radius: 5px;
  overflow: hidden;
}
